.cart-container{
    background-color: #FEFDFB;
    width: 70%;
}

.cart-items-flex{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    height: 700px;
    overflow-y: auto;
}