.header-container{
    background-color: #080603;
    width: 100%;
    padding: 20px;

}
.header-content{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}