.header-container{
    background-color: #080603;
    width: 100%;
    padding: 20px;

}
.header-content{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}