.produto-card-container{
    width: 250px;
    background-color: #FEFDFB;
    padding: 10px;
    border: 1px solid #D3D3D3;
}
.produto-card-flex{
    display: flex;
    flex-direction: column;
    text-align: start;
}
.produto-card-image{
    justify-content:center;
    width: 80%;
    margin: auto;
}
.produto-card-image img{
    width: 100%;

}
.produto-card-item-container{
    justify-content: space-between;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}