.produtos-list-container{
    max-width: 1200px;
    min-width: 200px;
    margin: auto;
}

.produtos-list-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}