*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #FBF6F4
    ;
}
.app-body {
    margin-bottom: 25px;
    min-height: 100vh;
}